### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen

# Data files
/Data/
!/Data/RST/GUM/*.py
!/Data/RST/GUM/*.md
!/Data/StackExchange/*.py
!/Data/StackExchange/*.md

# Pretrained model files
**/PretrainedModel/

# Finetuned model files
**/FinetunedModel/

# Model output files
**/Result/

# Configuration files
**/*.ini
